<html>
  <head>
    <title>Mon title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="javascripts/index.js"></script>
  </head>
  <body>
    <div class="container-fluid">
      <div class="d-flex flex-column align-items-center justify-content-center w-100" style="height:100vh;">
        <h1>Liste des chapitres</h1>
        <div class="form-group">
          <input id="search" type="text" class="form-control" />
        </div>
        <div class="d-flex flex-row" id="chapter-list">
          <% if (chapters && chapters.length) { %>
            <%- include('partials/chapter-list', { chapters })  %>
          <% } %>
        </div>
        <div class="mt-4">
          <a href="/chapters/add" class="btn btn-primary">Add Chapter</a>
        </div>
      </div>
    </div>
  </body>
</html>